<script>
	import { onMount } from "svelte";
	let udata;
	let users;
	let total;

    onMount(async () => {
	  await fetch(`https://mcapi.superlucane.com/userlist`)
		.then(r => r.json())
		.then(data => {
		  console.log(data.users)
		  udata = data;
		  users = data.users;
		  total = users.length;
		});
	})
  
  </script>

<main>
	<h1>Welcome at mc-one.superlucane.com</h1>
	{#if users===undefined}
	<p class="loading">loading...</p>

	{:else}
	<p>connected: {total}</p>
	{#each users as user }
	  <p class="user">{user}</p>
	{/each}
    {/if}	
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 3em;
		font-weight: 80;
	}

	.user {
		font-size: 2em;
		font-weight: 60;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>